# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Flask
instance/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded files
uploads/

# Secrets / keys
*.key
*.pem

# Node
node_modules/
npm-debug.log*